<div id="languages-switcher">
    <select id="languages">
        <option value="0">Select Language</option>
        <option value="1">Arabic</option>
        <option value="2">English</option>
      </select>
</div>